.sponsor {
  background-image: url('https://res.cloudinary.com/dqlnb4ddv/image/upload/v1728995301/space_bg_gqgrxu.jpg');
  width: 100vw;
  margin: 5rem auto;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 480px) {
    width: 100vw;
    
    padding: 2rem 3rem;
  }

  .cardContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    .card {
      width: 20rem;
      height: 15rem;
      border: 2px solid orange;
      border-radius: 1rem;
      padding: 1rem 1rem;
      box-shadow: inset 0px 0px 5px 10px rgba(207, 203, 203, 0.29);
      -webkit-box-shadow: inset 0px 0px 5px 10px rgba(207, 203, 203, 0.29);
      transition: 300ms all ease-in-out;
      transition: box-shadow 1s ease-in-out;

      @media screen and (max-width: 768px) {
        width: 15rem;
        height: 12rem;
      }

      .image {
        position: relative;
        width: 100%;
        height: 100%;
        // border: 2px solid orange;
        overflow: hidden;
      }
      &:hover {
        // transition: all 0.5s ease-in-out;
        box-shadow:
          0 0 1px 1px rgb(45, 245, 5),
          inset 0px 0px 5px 10px rgba(207, 203, 203, 0.29);
      }
    }
  }
}
