.App {
  text-align: center;
  height: 100vh;
  /* top: 0; */
  display: flex;
  background: url("/images/back.jpeg");
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  /* background-position: center; */
  background-repeat: no-repeat;
}

.App-header {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.curtains {
  position: absolute;
  width: 100vw;
  height: 60vw;
  /* right: 25rem; */
  object-fit: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* overflow: hidden; */
}

.curtain2 {
  position: absolute;
  width: 100vw;
  height: 60vw;
  /* right: 25rem; */
  object-fit: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* overflow: hidden; */
  left: 49rem;
}

.left-curtain {
  height: 100%;
  width: 50%;
  /* object-fit: cover; */

  /* left: 20rem; */
  /* background: url(/images/curtainleft.png);
  background-size: cover; */
  animation: openCurtains 3s ease-out forwards;
  clip-path: inset(0px 30rem 0px 0rem);

  /* clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%); */
}

.right-curtain {
  height: 100%;
  width: 50%;
  /* object-fit: cover; */
  /* 
  left: 20rem; */
  /* background: url(/images/curtainleft.png);
  background-size: cover; */
  animation: openCurtains 3s ease-out forwards;
  clip-path: inset(0px 0rem 0px 30rem);

  /* clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%); */
}

.left-curtain {
  transform-origin: left;
}

.right-curtain {
  transform-origin: right;
}

/* @keyframes openCurtains {
  0% {
    transform: scaleX(2);
  }
  100% {
    transform: scaleX(1.5);
  }
} */

@keyframes openCurtains {
  from {
    transform: scaleX(2.5);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes Curtains {
  from {
    transform: scaleX(2.5);
  }
  to {
    transform: scaleX(1);
  }
}

/* .curtain-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.curtain {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 2s;
}

.left-curtain {
  left: 0;
  background-image: url('/curtain.jpg');
  background-position: left;
  transform-origin: left;
}

.right-curtain {
  right: 0;
  background-image: url('/curtain.jpg');
  background-position: right;
  transform-origin: right;
}

.curtain.open.left-curtain {
  transform: translateX(-100%);
}

.curtain.open.right-curtain {
  transform: translateX(100%);
}



 */

/* .content {
  z-index: 1;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
  /* position: absolute; */

  /* margin-bottom: 2.5rem; */
}

h1 {
  font-size: 4rem;
  font-family: "Eagle lake", Times, serif;
  color: #fff;
  text-shadow: 0px 0px 20px #ff9364;
  /* margin-bottom: 30rem; */
}

@media (max-width: 768px) {
  .App-logo {
    height: 15vmin;
  }

  h1 {
    font-size: 1rem;
  }

  .App {
    height: 100vh;
    /* max-width: 600px; */
    /* background-size: cover; */
    display: flex;
    background-size: contain;
  }

  .App-header {
    position: relative;
    width: 100%;
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .curtains {
    position: absolute;
    /* width: fit-content; */
    height: 50vw;
    width: 60vw;
  }

  .curtain2 {
    position: absolute;
    width: 100vw;
    height: 60vw;
    /* right: 25rem; */
    object-fit: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; */

    left: 0;
  }

  .curtains {
    position: absolute;
    width: 100%;
    height: 100%;
    /* left: 30rem; */
    object-fit: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; */
  }

  .left-curtain {
    height: 100%;
    width: 50%;
    /* object-fit: cover; */

    /* left: 20rem; */
    /* background: url(/images/curtainleft.png);
    background-size: cover; */
    animation: openCurtains 3s ease-out forwards;
    /* clip-path: inset(0px 0rem 0px 15rem); */

    /* clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%); */
  }

  .right-curtain {
    height: 100%;
    width: 50%;
    /* object-fit: cover; */

    /* left: 20rem; */
    /* background: url(/images/curtainleft.png);
    background-size: cover; */
    animation: openCurtains 3s ease-out forwards;
    clip-path: inset(0px 0rem 0px 15rem);

    /* clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%); */
  }

  .left-curtain {
    transform-origin: left;
  }

  .right-curtain {
    transform-origin: right;
  }

  @keyframes openCurtains {
    from {
      transform: scaleX(2.5);
    }
    to {
      transform: scaleX(1);
    }
  }

  @keyframes Curtains {
    from {
      transform: scaleX(2.5);
    }
    to {
      transform: scaleX(1);
    }
  }
}

@media (max-width: 1000px) {
  /* .App{
    background-size: cover;
  } */

  .App-logo {
    height: 30vmin;
  }

  h1 {
    font-size: 2.5rem;
  }

  .curtains {
    position: absolute;
    /* width: fit-content; */
    height: 100vh;
    width: 100vh;
    object-fit: cover;
  }

  .right-curtain {
    height: 100vh;
    width: 100vh;
    /* left: 40rem; */
    /* margin-right: 50rem; */
    animation: Curtains 3s ease-out forwards;
    /* clip-path: inset(0px 0rem 0px 0rem); */
    object-fit: cover;
  }
  .left-curtain {
    height: 100%;
    width: 100%;
    animation: openCurtains 3s ease-out forwards;
    /* clip-path: inset(0rem  30rem 0px 0px); */
  }
}
