/* SocialMediaIcons.css */
.social-media-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: rgb(56, 55, 55);
  padding: 10px;
  border-radius: 30px;
  box-shadow:
    0 0 rgb(170, 155, 155),
    0 0 2.5rem rgb(186, 181, 181),
    0 0 5rem rgb(93, 92, 92),
    0 0 10rem rgb(54, 54, 54),
    0 0 20rem rgb(201, 197, 197);
  
}
.social-media-icons :hover{
  transform: translateY(-1.6px);
}

.social-media-icons .icon {
  margin: 10px 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  box-shadow:
    0 0 rgb(170, 155, 155),
    0 0 2.5rem rgb(186, 181, 181),
    0 0 5rem rgb(154, 149, 149),
    0 0 10rem rgb(163, 168, 168),
    0 0 20rem rgb(232, 227, 227);
}

.social-media-icons .icon:hover {
  background-color: #1b1a1a;
}

.fb-icon {
  color: #3b5998;
}
.ig-icon {
  color: #e4405f;
}
.li-icon {
  color: #0077b5;
}
.yt-icon {
  color: #ff0000;
}
/* Responsive Design */
@media (max-width: 600px) {
  .social-media-icons {
    top: auto;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    padding: 5px;
    border-radius: 10px;
  }

  .social-media-icons .icon {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}
